/* Mostly image height and width throughout website */

.table-image {
    height: 12rem;
    width: 19rem;
}

.logo-image {
    height: 25rem;
}

.section-image {
    height: 35rem;
}

.tab-image {
    height: 2rem;
}

/* extra small font and removed margins for footer content */

.footer-text p {
    margin: 0;
    font-size: 0.75rem;
}

/* Overwrite default bootstrap style for Navigation Pills */

.nav-pills .nav-link {
    color: black;
}
